body{
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.centered>div{
   left: 60px;

}
  footer > .row{
     margin-top:  5%;
     position: relative;
    padding-left:  200px;
    padding-top: 60px;
    padding-bottom: 80px;
  color: white;
  background: linear-gradient(180deg, #000000, #1a000d);
   
   
  
} 

 /* navbar */
.navbar-default {
    background: linear-gradient(135deg, #000000, #666699);
    background-repeat: repeat-x;
    border-color: #E7E7E7;
    padding-bottom: 22px;

}
/* Title */
.navbar-default .navbar-brand {
  position: absolute;
  width: 85px;
  height: 65px;
  top: 0;
  left: 17px;


}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white !important;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
    top: 10px;
}

/* form model*/
#panel1{
  margin: auto;
  margin-top: 200px;
  width: 500px;

  

  



}
#panel_heading{
  background-color: #001f3f !important;
  color: white !important;
  border-radius: 10px;
  text-align: center;
 


}

#panel-content{

  
   border-radius: 5px;
  
   padding-top:20px;
   padding-left: 20px;
   padding-right: 20px;
   
 
 
}

.panel-footer{


  margin-top: 25px;
  padding-left: 20px;
  text-align: right;
   
   
}


/*page 2*/


.tab1{

  margin-top: 150px;
}
.table-style{
  margin-top: 100px;
}



/* leave this part out */

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}


